
<div class="modal-header">
    <h5 class="modal-title" th:text="${edit}? 'Modificar Persona' : 'Registrar Persona'"></h5>
    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="botonCerrarModal"></a>
</div>
<div class="modal-body">
    <form class="form-horizontal" th:action="${edit} ? @{/editarPersona} : @{/registrarPersona}" id="FormularioRegistrarPersona" method="post">
        <div th:if="${edit == true}">
            <input type="hidden" th:field="${persona.idPersona}" id="idPersona"/>
        </div>
        <div class="form-group">
            <label for="nombre">Nombres</label>
            <input type="text" class="form-control" required style="text-transform: uppercase;" name="nombre" th:field="${persona.nombre}" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="apellidoP">Apellido Paterno</label>
            <input type="text" class="form-control" required style="text-transform: uppercase;" name="paterno" th:field="${persona.paterno}" placeholder="Apellido Paterno">
        </div>
        <div class="form-group">
            <label for="apellidoM">Apellido Materno</label>
            <input type="text" class="form-control" required  style="text-transform: uppercase;" name="materno" th:field="${persona.materno}" placeholder="Apellido Materno">
        </div>
        <div class="form-group"> <label for="ci">C.I.</label> 
            <input type="text" class="form-control" name="ci" th:field="${persona.ci}" placeholder="C.I." required>
        </div>
        <div class="form-group">
            <label for="vigencia">Correo</label>
            <input type="email" class="form-control" name="correo" th:field="${persona.correo}" placeholder="Correo" required>
        </div>
        <div class="form-group">
            <label for="genero">Genero</label><br>
            <select class="form-select" name="idGenero">
                <th:block th:each="g : ${genero}">
                    <option th:value="${g.idGenero}" th:text="${g.nombreGenero}"></option>
                </th:block>
            </select>
        </div>
        <button type="submit" id="guardarUniversitario" class="btn btn-primary">Guardar</button>
        <button type="button" id="limpiarUniversitario" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
    </form>
</div>

<script>
 $(document).ready(function() {
        $('#FormularioRegistrarPersona').submit(function (event) {
            event.preventDefault();
            var form = document.getElementById("FormularioRegistrarPersona");
            var action = form.action;
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    var mensaje = response;
                    if (mensaje === 'Se guardó el registro con éxito') {
                        cargarFormulario();
                        cargarTabla();
                        Swal.fire(
                            'Registrado!',
                            mensaje + '.',
                            'success'
                        );
                    }else{
                        if (mensaje === 'Se modificó el registro con éxito') {
                            cargarFormulario();
                            cargarTabla();
                            Swal.fire(
                                'Modificado!',
                                mensaje + '.',
                                'success'
                            );
                        }else{
                            if (mensaje === 'Ya existe este registro') {
                                cargarFormulario();
                                cargarTabla();
                                Swal.fire(
                                    'Imposible Continuar!',
                                    mensaje + '.',
                                    'error'
                                );
                            }
                        }
                    }
                },
                error: function (xhr, status, error) {
                    toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.' + xhr, status, error);
                    console.error(error);
                }
            });
        });
    });
</script>