<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout_test/head :: head}" ></head>

<body class="template-color-1 nft-body-connect">
    <div id="particles-js"></div>
    <!-- start header area -->
    <!-- Start Header -->
    <header class="rn-header haeder-default header--sticky">
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <div class="logo-thumbnail logo-custom-css">
                        <a class="logo-light" href="/vista-test"><img src="assets_registro/images/logo/logo-white.png"
                                alt="nft-logo"></a>
                        <a class="logo-dark" href="/vista-test"><img src="assets_registro/images/logo/logo-dark.png"
                                alt="nft-logo"></a>
                    </div>
                    <div class="mainmenu-wrapper">
                        <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                        </nav>
                    </div>
                </div>
                <div class="header-right">

                    <div id="my_switcher" class="my_switcher setting-option">
                        <ul>
                            <li>
                                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                    <img class="sun-image" src="assets_registro/images/icons/sun-01.svg"
                                        alt="Sun images">
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                    <img class="Victor Image" src="assets_registro/images/icons/vector.svg"
                                        alt="Vector Images">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-success mt--4 my_switcher " data-bs-toggle="modal" data-bs-target="#LoginModal"><b style="font-size: 15px;">INICIAR SESIÓN</b></button>

                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <div class="pb_sm--0 banner-area banner-svg bg-image-svg-1 bg_image rn-section-gap with-down-shadow">
        <div class="container">
            <div class="row g-5 d-flex align-items-center">
                <div class="col-lg-7 order-lg-1 order-md-2 order-sm-2 order-2">
                    <div class="banner-left-bg-svg">
                        <h1 class="title" style="text-align: center;">BIENVENIDO AL TEST DE ORIENTACIÓN VOCACIONAL</h1>
                        <p class="disc" style="text-align: center;">
                            Dale click a :
                        </p>

                    </div>
                    <button type="button" class="btn btn-success mt--30" style="width: 100%;" data-bs-toggle="modal"
                        data-bs-target="#placebidModal"><b style="font-size: 35px;">Registrarse</b></button>
                </div>

                <div class="col-lg-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="tilt-image-banner-16">
                        <img class="tilt" src="assets_registro/images/uap.png" alt="Nft-profile">
                    </div>
                </div>
            </div>
        </div>
    </div>


 <!-- modal registro -->
 <div class="rn-popup-modal placebid-modal-wrapper modal fade" id="placebidModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
        style="max-width: 100%; width: 100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Registro de Datos</h3>
            </div>
            <div class="modal-body">
                <div class="form-wrapper-one registration-area">
                    <form class="form" action="/guardar_estudiante_inicio" method="post" novalidate>
                        <input type="hidden" th:field="${persona.idPersona}">
                        <p>Datos personales</p>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-xm-12">
                                <label for="">Nombres</label>    
                                <input type="text" th:field="${persona.nombre}" autocomplete="off" style="text-transform: uppercase;" name="nombre" placeholder="INTRODUCE UN NOMBRE" required>
                            </div>
                            <div class="col-md-4 col-xm-12">
                                <label for="">Apellido Paterno</label>
                                <input type="text" th:field="${persona.paterno}" autocomplete="off" style="text-transform: uppercase;" name="paterno" placeholder="INTRODUCE TU APELLLIDO PATERNO" required>
                            </div>

                            <div class="col-md-4 col-xm-12">
                                <label for="">Apellido Materno</label>
                                <input type="text" th:field="${persona.materno}" autocomplete="off" style="text-transform: uppercase;" name="materno" placeholder="INTRODUCE TU APELLIDO MATERNO" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-xm-12">
                                <label for="">Numero de C.I.</label>
                                <input type="text" th:field="${persona.ci}" autocomplete="off" name="ci" placeholder="INTRODUCE UN CI" required>
                            </div>
                            <div class="col-md-2 col-xm-12">
                                <label for="sadsa">Genero</label><br>
                                <select class="form-select" name="genero" id="genero">
                                    <th:block th:each="g : ${generos}">
                                        <option th:value="${g.idGenero}" th:text="${g.nombreGenero}"></option>
                                    </th:block>
                                </select>
                            </div>

                            <div class="col-md-2 col-xm-12">
                                <label for="sadsa">Nacionalidad</label><br>
                                <select class="form-select" name="nacionalidad" id="nacionalidad">
                                    <th:block th:each="nac : ${nacionalidades}">
                                        <option th:value="${nac.idNacionalidad}" th:text="${nac.nombreNacionalidad}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="col-md-5 col-xm-12">
                                <label for="">Correo</label>
                                <input id="value" type="email" autocomplete="off" placeholder="INTRODUCE UN CORREO ELECTRONICO VALIDO" name="correo">
                            </div>
                        </div>

                        <p class="mt-3">Datos Academicos</p>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-xm-12">
                                <label for="sadsa">Grado</label><br>
                                <select class="select" name="grado">
                                    <option value="B">BACHILLER</option>
                                    <option value="6to">6TO SECUNDARIA</option>
                                    <option value="5to">5TO SECUNDARIA</option>
                                    <option value="4to">4TO SECUNDARIA</option>
                                    <option value="O">Otro</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-xm-12">
                                <label for="sadsa">Colegio</label><br>
                                <select class="form-select" name="colegio" id="colegio">
                                    <th:block th:each="colegio : ${colegios}">
                                        <option th:value="${colegio.idColegio}" th:text="${colegio.nombreColegio}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <div class="bit-continue-button ">
                            <div class="row mt-5">
                                <div class="col-6">
                                    <button style="width: 100%;"  type="submit" class="btn btn-success">
                                        Enviar Registro
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button type="button" style="width: 100%;" class="btn btn-danger"
                                        data-bs-dismiss="modal">Cancelar Registro</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- LOGIN -->
<div class="rn-popup-modal placebid-modal-wrapper modal fade" id="LoginModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable"
        style="max-width: 90%; width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">INCIAR SESIÓN</h3>
            </div>
            <div class="modal-body">
                <div class="login-area rn-section-gapTop">
                    <div class="container">
                        <div class="row g-5">
                            <div class=" offset-2 col-lg-4 col-md-6 ml_md--0 ml_sm--0 col-sm-12">
                                <div class="form-wrapper-one">
                                    <h4>Acesso</h4>
                                    <form action="/iniciar-sesion" method="POST">
                                        <div class="mb-5">
                                            <label for="exampleInputEmail1" class="form-label">Usuario</label>
                                            <input type="text" name="usuario" id="exampleInputEmail1">
                                        </div>
                                        <div class="mb-5">
                                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                            <input type="password" name="contrasena" id="exampleInputPassword1">
                                        </div>
                                        <div class="mb-5 rn-check-box">
                                            <input type="checkbox" class="rn-check-box-input" id="exampleCheck1">
                                            <label class="rn-check-box-label" for="exampleCheck1">Remember me leter</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary mr--15">Iniciar</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="social-share-media form-wrapper-one">
                                    <h6>Another way to log in</h6>
                                    <p> Lorem ipsum dolor sit, amet sectetur adipisicing elit.cumque.</p>
                                    <button class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/google.png" alt=""> <span>Log in with Google</span></button>
                                    <button class="another-login login-facebook"> <img class="small-image" src="assets/images/icons/facebook.png" alt=""> <span>Log in with Facebook</span></button>
                                    <button class="another-login login-twitter"> <img class="small-image" src="assets/images/icons/tweeter.png" alt=""> <span>Log in with Twitter</span></button>
                                    <button class="another-login login-linkedin"> <img class="small-image" src="assets/images/icons/linkedin.png" alt=""> <span>Log in with linkedin</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rn-footer-one bg-color--1">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <ul class="nu-brand-area">
                    <li class="tilt"><img src="assets_registro/images/f1.png" alt="nuron-brand_nft"></li>
                    <li class="tilt"><img src="assets_registro/images/f2.png" alt="nuron-brand_nft"></li>
                    <li class="tilt"><img src="assets_registro/images/f3.png" alt="nuron-brand_nft"></li>
                    <li class="tilt"><img src="assets_registro/images/f4.png" alt="nuron-brand_nft"></li>
                    <li class="tilt"><img src="assets_registro/images/f5.png" alt="nuron-brand_nft"></li>
                    <li class="tilt"><img src="assets_registro/images/f6.png" alt="nuron-brand_nft"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
<div th:replace="~{layout_test/footer :: footer}"></div>
<!-- JS ============================================ -->
<div th:replace="~{layout_test/script :: script}"></div>

</body>

</html>