<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Seventeen || Nuron - NFT Marketplace Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-style-mode" content="1"> <!-- 0 == light, 1 == dark -->

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets_registro/images/favicon.png">
    <!-- CSS 
    ============================================ -->
    <link rel="stylesheet" href="assets_registro/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets_registro/css/vendor/slick.css">
    <link rel="stylesheet" href="assets_registro/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets_registro/css/vendor/nice-select.css">
    <link rel="stylesheet" href="assets_registro/css/plugins/feature.css">
    <link rel="stylesheet" href="assets_registro/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="assets_registro/css/vendor/odometer.css">

    <!-- Style css -->
    <link rel="stylesheet" href="assets_registro/css/style.css">
</head>

<body class="template-color-1 nft-body-connect">
    <div id="particles-js"></div>
    <!-- start header area -->
    <!-- Start Header -->
    <header class="rn-header haeder-default header--sticky">
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <div class="logo-thumbnail logo-custom-css">
                        <a class="logo-light" href="index.html"><img src="assets_registro/images/logo/logo-white.png"
                                alt="nft-logo"></a>
                        <a class="logo-dark" href="index.html"><img src="assets_registro/images/logo/logo-dark.png"
                                alt="nft-logo"></a>
                    </div>
                    <div class="mainmenu-wrapper">
                        <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                        </nav>
                    </div>
                </div>
                <div class="header-right">
                    <div class="setting-option rn-icon-list d-block d-lg-none">
                    </div>
                    <div class="setting-option rn-icon-list notification-badge">
                        <div class="icon-box">
                            <a href="activity.html"><i class="feather-bell"></i><span class="badge">6</span></a>
                        </div>
                    </div>

                    <div class="header_admin" id="header_admin">
                        <div class="setting-option rn-icon-list user-account">
                            <div class="icon-box">
                                <a href="author.html"><img src="assets_registro/images/icons/boy-avater.png"
                                        alt="Images"></a>
                                <div class="rn-dropdown">
                                    <div class="rn-inner-top">
                                        <h4 class="title"><a href="product-details.html">Christopher William</a></h4>
                                        <span><a href="#">Set Display Name</a></span>
                                    </div>
                                    <div class="rn-product-inner">
                                        <ul class="product-list">
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img
                                                            src="assets_registro/images/portfolio/portfolio-07.jpg"
                                                            alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">Balance</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                            <li class="single-product-list">
                                                <div class="thumbnail">
                                                    <a href="product-details.html"><img
                                                            src="assets_registro/images/portfolio/portfolio-01.jpg"
                                                            alt="Nft Product Images"></a>
                                                </div>
                                                <div class="content">
                                                    <h6 class="title"><a href="product-details.html">Balance</a></h6>
                                                    <span class="price">25 ETH</span>
                                                </div>
                                                <div class="button"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add-fund-button mt--20 pb--20">
                                        <a class="btn btn-primary-alta w-100" href="connect.html">Add Your More
                                            Funds</a>
                                    </div>
                                    <ul class="list-inner">
                                        <li><a href="author.html">My Profile</a></li>
                                        <li><a href="edit-profile.html">Edit Profile</a></li>
                                        <li><a href="connect.html">Manage funds</a></li>
                                        <li><a href="login.html">Sign Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="setting-option mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>

                    <div id="my_switcher" class="my_switcher setting-option">
                        <ul>
                            <li>
                                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                    <img class="sun-image" src="assets_registro/images/icons/sun-01.svg"
                                        alt="Sun images">
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                    <img class="Victor Image" src="assets_registro/images/icons/vector.svg"
                                        alt="Vector Images">
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->



    <div class="pb_sm--0 banner-area banner-svg bg-image-svg-1 bg_image rn-section-gap with-down-shadow">
        <div class="container">
            <div class="row g-5 d-flex align-items-center">
                <div class="col-lg-7 order-lg-1 order-md-2 order-sm-2 order-2">
                    <div class="banner-left-bg-svg">
                        <h1 class="title">TEST DE ORIENTACIÓN VOCACIONAL</h1>
                        <p class="disc">
                            USDJFGSDUIFG
                        </p>

                    </div>
                    <button type="button" class="btn btn-primary-alta mt--30" data-bs-toggle="modal"
                        data-bs-target="#placebidModal">Place a Bid</button>
                    <div class="rn-popup-modal placebid-modal-wrapper modal fade" id="placebidModal" tabindex="-1"
                        aria-hidden="true">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                data-feather="x"></i></button>
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Place a bid</h3>
                                </div>
                                <div class="modal-body">
                                    <p>You are about to purchase This Product Form Nuron</p>
                                    <div class="placebid-form-box">
                                        <h5 class="title">Your bid</h5>
                                        <div class="bid-content">
                                            <div class="bid-content-top">
                                                <div class="bid-content-left">
                                                    <input id="value" type="text" name="value">
                                                    <span>wETH</span>
                                                </div>
                                            </div>

                                            <div class="bid-content-mid">
                                                <div class="bid-content-left">
                                                    <span>Your Balance</span>
                                                    <span>Service fee</span>
                                                    <span>Total bid amount</span>
                                                </div>
                                                <div class="bid-content-right">
                                                    <span>9578 wETH</span>
                                                    <span>10 wETH</span>
                                                    <span>9588 wETH</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bit-continue-button">
                                            <a href="connect.html" class="btn btn-primary w-100">Place a bid</a>
                                            <button type="button" class="btn btn-primary-alta mt--10"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="tilt-image-banner-16">
                        <img class="tilt" src="assets_registro/images/banner/banner-10.png" alt="Nft-profile">
                        <div class="joined-people-wrapper">
                            <div class="product-share-wrapper">
                                <div class="profile-share">
                                    <a href="author.html" class="avatar" data-tooltip="Mark JOrdan" tabindex="0"><img
                                            class="large" src="assets_registro/images/client/client-2.png"
                                            alt="Nft_Profile"></a>
                                    <a href="author.html" class="avatar" data-tooltip="Mark" tabindex="0"><img
                                            class="large" src="assets_registro/images/client/client-3.png"
                                            alt="Nft_Profile"></a>
                                    <a href="author.html" class="avatar" data-tooltip="Jordan" tabindex="0"><img
                                            class="large" src="assets_registro/images/client/client-5.png"
                                            alt="Nft_Profile"></a>
                                    <a href="author.html" class="avatar" data-tooltip="Mark JOrdan" tabindex="0"><img
                                            class="large" src="assets_registro/images/client/client-2.png"
                                            alt="Nft_Profile"></a>
                                    <a class="more-author-text" href="#" tabindex="0">More Then 25K</a>
                                </div>
                            </div>
                            <p class="disc">Million of people are sell there NFTs in Nuron marketplaces. Create & Sell
                                Your NFT's.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="rn-popup-modal share-modal-wrapper modal fade" id="shareModal" tabindex="-1" aria-hidden="true">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                data-feather="x"></i></button>
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content share-wrapper">
                <div class="modal-header share-area">
                    <h5 class="modal-title">Share this NFT</h5>
                </div>
                <div class="modal-body">
                    <ul class="social-share-default">
                        <li><a href="#"><span class="icon"><i data-feather="facebook"></i></span><span
                                    class="text">facebook</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="twitter"></i></span><span
                                    class="text">twitter</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="linkedin"></i></span><span
                                    class="text">linkedin</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="instagram"></i></span><span
                                    class="text">instagram</span></a></li>
                        <li><a href="#"><span class="icon"><i data-feather="youtube"></i></span><span
                                    class="text">youtube</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Area -->
    <div class="rn-footer-one bg-color--1">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <ul class="nu-brand-area">
                        <li><img src="assets_registro/images/brand/brand-01.png" alt="nuron-brand_nft"></li>

                        <li><img src="assets_registro/images/brand/brand-03.png" alt="nuron-brand_nft"></li>
                        <li><img src="assets_registro/images/brand/brand-06.png" alt="nuron-brand_nft"></li>
                        <li><img src="assets_registro/images/brand/brand-07.png" alt="nuron-brand_nft"></li>
                        <li><img src="assets_registro/images/brand/brand-04.png" alt="nuron-brand_nft"></li>
                        <li><img src="assets_registro/images/brand/brand-02.png" alt="nuron-brand_nft"></li>
                        <li><img src="assets_registro/images/brand/brand-01.png" alt="nuron-brand_nft"></li>

                        <li><img src="assets_registro/images/brand/brand-03.png" alt="nuron-brand_nft"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->
    <!-- Start Footer Area -->
    <div class="copy-right-one ptb--20 bg-color--1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright-left">
                        <span>©2022 Nuron, Inc. All rights reserved.</span>
                        <ul class="privacy">
                            <li><a href="terms-condition.html">Terms</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright-right">
                        <ul class="social-copyright">
                            <li><a href="#"><i data-feather="facebook"></i></a></li>
                            <li><a href="#"><i data-feather="twitter"></i></a></li>
                            <li><a href="#"><i data-feather="instagram"></i></a></li>
                            <li><a href="#"><i data-feather="linkedin"></i></a></li>
                            <li><a href="#"><i data-feather="mail"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Area -->
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>
    <!-- Start Top To Bottom Area  -->
    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- End Top To Bottom Area  -->
    <!-- JS ============================================ -->
    <script src="assets_registro/js/vendor/jquery.js"></script>
    <script src="assets_registro/js/vendor/jquery.nice-select.min.js"></script>
    <script src="assets_registro/js/vendor/jquery-ui.js"></script>
    <script src="assets_registro/js/vendor/modernizer.min.js"></script>
    <script src="assets_registro/js/vendor/feather.min.js"></script>
    <script src="assets_registro/js/vendor/slick.min.js"></script>
    <script src="assets_registro/js/vendor/bootstrap.min.js"></script>
    <script src="assets_registro/js/vendor/sal.min.js"></script>
    <script src="assets_registro/js/vendor/particles.js"></script>
    <script src="assets_registro/js/vendor/jquery.style.swicher.js"></script>
    <script src="assets_registro/js/vendor/js.cookie.js"></script>
    <script src="assets_registro/js/vendor/count-down.js"></script>
    <script src="assets_registro/js/vendor/isotop.js"></script>
    <script src="assets_registro/js/vendor/imageloaded.js"></script>
    <script src="assets_registro/js/vendor/backtoTop.js"></script>
    <script src="assets_registro/js/vendor/odometer.js"></script>
    <script src="assets_registro/js/vendor/jquery-appear.js"></script>
    <script src="assets_registro/js/vendor/scrolltrigger.js"></script>
    <script src="assets_registro/js/vendor/jquery.custom-file-input.js"></script>
    <script src="assets_registro/js/vendor/savePopup.js"></script>
    <script src="assets_registro/js/vendor/vanilla.tilt.js"></script>

    <!-- main JS -->
    <script src="assets_registro/js/main.js"></script>
    <!-- Meta Mask  -->
    <script src="assets_registro/js/vendor/web3.min.js"></script>
    <script src="assets_registro/js/vendor/maralis.js"></script>
    <script src="assets_registro/js/vendor/nft.js"></script>
    <script>
        particlesJS('particles-js',

            {
                "particles": {
                    "number": {
                        "value": 40,
                        "density": {
                            "enable": true,
                            "value_area": 1000
                        }
                    },
                    "color": {
                        "value": ["#7FC7BD", "#ffE7BD",]
                    },
                    "shape": {
                        "type": "circle",
                        "stroke": {
                            "width": 0,
                            "color": "#000000"
                        },
                        "polygon": {
                            "nb_sides": 4
                        },
                        "image": {
                            "src": "img/github.svg",
                            "width": 100,
                            "height": 100
                        }
                    },
                    "opacity": {
                        "value": 0.8,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 1,
                            "opacity_min": 0.1,
                            "sync": false
                        }
                    },
                    "size": {
                        "value": 3,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 40,
                            "size_min": 0.08,
                            "sync": false
                        }
                    },
                    "line_linked": {
                        "enable": false,
                        "distance": 150,
                        "color": "#ffffff",
                        "opacity": 0.4,
                        "width": 1
                    },
                    "move": {
                        "enable": true,
                        "speed": 4,
                        "direction": "none",
                        "random": false,
                        "straight": false,
                        "out_mode": "out",
                        "attract": {
                            "enable": false,
                            "rotateX": 600,
                            "rotateY": 1200
                        }
                    }
                },
                "interactivity": {
                    "detect_on": "canvas",
                    "events": {
                        "onhover": {
                            "enable": true,
                            "mode": "repulse"
                        },
                        "onclick": {
                            "enable": true,
                            "mode": "push"
                        },
                        "resize": true
                    },
                    "modes": {
                        "grab": {
                            "distance": 400,
                            "line_linked": {
                                "opacity": 1
                            }
                        },
                        "bubble": {
                            "distance": 800,
                            "size": 40,
                            "duration": 2,
                            "opacity": 8,
                            "speed": 3
                        },
                        "repulse": {
                            "distance": 200
                        },
                        "push": {
                            "particles_nb": 4
                        },
                        "remove": {
                            "particles_nb": 2
                        }
                    }
                },
                "retina_detect": true,
                "config_demo": {
                    "hide_card": false,
                    "background_color": "#b61924",
                    "background_image": "",
                    "background_position": "50% 50%",
                    "background_repeat": "no-repeat",
                    "background_size": "cover"
                }
            }

        );
    </script>
</body>

</html>