<aside th:fragment="sidebar" class="left-sidebar with-vertical">
    <nav class="sidebar-nav scroll-sidebar" data-simplebar>
        <ul id="sidebarnav" class="px-2">
            <li class="sidebar-item pt-3 pb-2 sidebar-profile" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
                <a class="sidebar-link has-arrow opacity-100 gap-2" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <img src="../assets/images/profile/user-1.jpg" class="rounded-3" width="30" alt="user" />
                    </span>
                    <span class="hide-menu">Administrador</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a href="javascript:void(0)" class="sidebar-link">
                            <div class="round-16 d-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            </div>
                            <span class="hide-menu">Mi Perfil</span>
                        </a>
                        <a id="opcionesAdminRol" type="button" class="sidebar-link">
                            <div class="round-16 d-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            </div>
                            <span class="hide-menu">Administrar Roles</span>
                        </a>
                        <a id="opcionesAdminUsuario" type="button" class="sidebar-link">
                            <div class="round-16 d-flex align-items-center justify-content-center">
                                <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            </div>
                            <span class="hide-menu">Administración de Usuarios</span>
                        </a>
                    </li>
                </ul>
            </li><br>

            <li class="nav-small-cap" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">INICIO</span>
            </li>

            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">Administracion</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesAdminPersona" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Persona</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-small-cap" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">INICIO</span>
            </li>

            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">Complementos</span>
                </a>

                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesAdminColegio" type="button"  class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Colegios</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesAdminGenero" type="button" href="/administrar-sexo" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Genero</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesAdminNacionalidad" type="button" href="administrar-nacionalidad" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Nacionalidad</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcione-facultdad" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Facultad</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcione-carrera" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Carrera</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-small-cap" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'PSICOPEDAGOGA'}">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">ESTUDIANTES</span>
            </li>

            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'PSICOPEDAGOGA'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">Gestion Estudiante</span>
                </a>

                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesRegistroEstudiante" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Registro Estudiante</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesAdminEstudiante" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Estudiantes</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-small-cap" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'PSICOPEDAGOGA'}">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">SEGUIMIENTOS ESTUDIANTIL</span>
            </li>

            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'PSICOPEDAGOGA'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">Seguimiento</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    
                    <li class="sidebar-item">
                        <a id="opcionesAvanceEstudiantes" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Avance de Estudiantes</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesHabilitarTest" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Habilitar Tests</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-small-cap" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">CONFIG TEST</span>
            </li>

            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
                <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">Pregunta</span>
                </a>

                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesPregunta" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:basketball-line-duotone"></iconify-icon>
                            <span class="hide-menu">Preguntas</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesTipoPregunta" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:basketball-line-duotone"></iconify-icon>
                            <span class="hide-menu">Tipo pregunta</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>