
<div id="main-wrapper">
    <div id="animacionReenviar" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(46, 46, 46, 0.8); z-index: 9999; align-items: center; justify-content: center;">
        <div class="loading-container2" style="text-align: center;">
            <h2 style="font-size: 24px; color: #ffffff; margin-bottom: 20px;">Reenviando Credencial...</h2>
            <div id="animacionRenvio" style="width: 150px; height: 150px; margin: auto;"></div>
        </div>
    </div>
    <div class="container-fluid mw-100">
        <div class="row">
            <div id="TablaAdmEstudiante"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="formularioEstudiantesA" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="formularioEstudiantesA"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content" id="FormularioEstudiantes3">
            
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.1/lottie.min.js"></script>

<script>
    function habilitarEstudiante(idEstudiante) {

        Swal.fire({

            title: '¿Enviar credencial?',
            text: "¡Estás por enviar el credencial a este Estudinate!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, Enviar!'

        }).then((result) => {

            if (result.isConfirmed) {

                document.getElementById('animacionReenviar').style.display = 'flex';

                if (!window.animation) {
                    window.animation = lottie.loadAnimation({
                        container: document.getElementById('animacionRenvio'), // Contenedor de la animación
                        renderer: 'svg', // Tipo de renderizado
                        loop: true, // Repetir la animación
                        autoplay: true, // Comienza automáticamente
                        path: 'https://lottie.host/b80e1175-6d81-4487-a864-cab102236748/zqDyw5W3F5.json' // URL del archivo JSON
                    });
                }
                
                $.ajax({
                    type: 'POST',
                    url: '/estudiante/habilitar/' + idEstudiante,
                    success: function(response) {
                        document.getElementById('animacionReenviar').style.display = 'none';
                        Swal.fire(
                            'Reenviado!',
                            'Se ha reenviado el credencial.',
                            'success'
                        );

                        cargarTabla();
                    },
                    error: function(xhr, status, error) {
                        document.getElementById('animacionReenviar').style.display = 'none';
                        Swal.fire(
                            'Error!',
                            'No se pudo reenviar el credencial.',
                            'error'
                        );
                        console.error(error);
                    }
                });
            }
        });
    }
</script>

<script th:inline="javascript">
    cargarTabla();
    function cargarTabla() {
        $.ajax({
            type: 'POST',
            url: "/listarAdmEstudiante",
            success: function (response) {
                $("#TablaAdmEstudiante").html(response);
            }
        });
    }

    function cargarDatosFormulario(idEstudiante) {
        $.ajax({
            url: '/datosEstudiante/' + idEstudiante,
            method: 'GET',
            success: function (response) {
                $("#FormularioEstudiantes3").html(response);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    function cargarFormEdit(idEstudiante) {
        $.ajax({
            url: '/formularioEditEstudiante/' + idEstudiante,
            method: 'GET',
            success: function (response) {
                $("#FormularioEstudiantes3").html(response);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }
</script>