<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head th:replace="~{layout/head :: head}"></head>

<body>
    <!-- Preloader -->
    <div th:replace="~{layout/preloader :: preloader}"></div>
    <div id="main-wrapper">
        <!-- Sidebar Start -->
        <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
        <!--  Sidebar End -->
        <div class="page-wrapper">
            <!-- TopBar Start -->
            <header th:replace="~{layout/topbar :: topbar}"></header>
            <!-- TopBar End -->

            <!-- Body Start -->
            <div class="body-wrapper">
                <div class="container-fluid mw-100">

                    <!-- Card de presentación -->
                    <div
                        th:replace="~{layout/card-modulo :: cardFragment('Bienvenido al Sistema de Administración de postulantes', 'Inicio', '/buscar-postulantes', 'Inicio')}">
                    </div>
                    <!-- Card de presentación -->

                    <div class="row">
                       

                        <div class="datatables">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="mb-2">
                                                <h5 class="mb-0">File export</h5>
                                            </div>
                                            <p class="card-subtitle mb-3">
                                                Datos de los estudiantes HABILITADOS
                                            </p>
                                            <div class="table-responsive">
                                                <table id="file_export"
                                                    class="table border w-100 table-striped table-bordered display text-nowrap"
                                                    style="font-size: 12px">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Nombres</th>
                                                            <th>Apellido Parteno</th>
                                                            <th>Apellido Materno</th>
                                                            <th>C.I</th>
                                                            <th>Colegio</th>
                                                            <th>Grado</th>
                                                            <th>Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="e, index : ${estudiantes}" th:if="${e.estado != 'INHABILITADO'}">
                                                            <td th:text="${index.index+1}"></td>
                                                            <td th:text="${e.persona.nombre}"></td>
                                                            <td th:text="${e.persona.paterno}"></td>
                                                            <td th:text="${e.persona.materno}"></td>
                                                            <td th:text="${e.persona.ci}"></td>
                                                            <td th:text="${e.colegio.nombreColegio}"></td>
                                                            <td th:text="${e.grado}"></td>
                                                            <td class="text-center">

                                                                <!-- Botón para Ver Datos -->
                                                                <a class="btn btn-info me-2" type="button" style="color: aliceblue;"
                                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                                    th:attr="onclick='cargarModFormulario(\'' + ${e.idEstudiante} + '\')'">
                                                                   Mostrar Datos
                                                                </a>

                                                
                                                                <!-- Botón para Banear -->
                                                                <a th:href="@{'/estudiante/banear/' + ${e.idEstudiante}}" class="btn btn-danger btn-sm"
                                                                   onclick="return confirm('¿Estás seguro que deseas banear a este estudiante?');">
                                                                    Banear
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALS WACHINES -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center">
                    <h4 class="modal-title" id="myLargeModalLabel">
                        Datos del Estudiante
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                       
                        <div class="form-group col-md-3 mb-3">
                            <label>Nombres</label>
                            
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label>Apellido Paterno</label>
                            
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label>Apellido Materno</label>
                            
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                            <label>C.I.</label>
                            
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label>Correo</label>
                            
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label>Género</label>
                           
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                            <label>Nacionalidad</label>

                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label>Colegio</label>
                            
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label>Grado</label>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn bg-danger-subtle text-danger  waves-effect text-start"
                        data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN MODALS -->

    <script>
        
    </script>
    
    <div th:replace="~{layout/script :: script}"></div>
</body>

</html>