<section  class="content">
    <div class="datatables">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-2">
                            <h5 class="mb-0">File export</h5>
                        </div>
                        <p class="card-subtitle mb-3">
                            Datos de los estudiantes vigentes
                        </p>
                        <div class="table-responsive">
                            <table id="file_export"
                                class="table border w-100 table-striped table-bordered display text-nowrap"
                                style="font-size: 12px">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombres</th>
                                        <th>Apellido Parteno</th>
                                        <th>Apellido Materno</th>
                                        <th>C.I</th>
                                        <th>Colegio</th>
                                        <th>Grado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="e, index : ${estudiantes}" th:if="${e.estado == 'INHABILITADO'}">
                                        <td th:text="${index.index+1}"></td>
                                        <td th:text="${e.persona.nombre}"></td>
                                        <td th:text="${e.persona.paterno}"></td>
                                        <td th:text="${e.persona.materno}"></td>
                                        <td th:text="${e.persona.ci}"></td>
                                        <td th:text="${e.colegio.nombreColegio}"></td>
                                        <td th:text="${e.grado}"></td>
                                        <td class="text-center">

                                            <!-- <a th:href="@{'/estudiante/ver/' + ${e.idEstudiante}}" class="btn btn-info btn-sm">
                                                Ver Datos
                                            </a>
                        
                                            <a th:href="@{'/estudiante/editar/' + ${e.idEstudiante}}" class="btn btn-warning btn-sm">
                                                Editar
                                            </a> -->
                            
                                            <!-- Botón para Habilitar -->
                                            <a class="btn btn-success" type="button" style="color: aliceblue;"
                                                th:attr="onclick='habilitarEstudiante(' + ${e.idEstudiante} + ')'">
                                                Habilitar <!-- Icono de habilitar -->
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>