<div id="main-wrapper">
    <div class="container-fluid mw-100">
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Chaside</h5>
                        <div id="chart-radial-basic"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Habilidades Sociales</h5>
                        <div id="chart-radial-basic1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Intereses profesionales</h5>
                        <div id="chart-radial-basic2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center">Intereses Multiples</h5>
                        <div id="chart-radial-basic3"></div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="num_test_chaside" th:value="${num_test_chaside}">
        <input type="hidden" id="num_test_sociales" th:value="${num_test_sociales}">
        <input type="hidden" id="num_test_profesionales" th:value="${num_test_profesionales}">
        <input type="hidden" id="num_test_multiples" th:value="${num_test_multiples}">

        <input type="hidden" id="num_estudiantes_totales" th:value="${num_estudiantes_totales}">


        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0">Lista de estudiantes inscritos</h5>
            </div>
            <div id="TablaSeguimientoEstudiantes"></div>

            <div class="modal fade" id="evaluacionEstudianteModal" tabindex="-1" aria-labelledby="evaluacionEstudianteModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">INFORME PSICOPEDAGOGICO</h5>
                            <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="botonCerrarModal"></a>
                        </div>
                        <div class="modal-body">
                            <div class="modal-content" id="estudinateSeguimiento">
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    cargarTabla();
    function cargarTabla() {
        $.ajax({
            type: 'POST',
            url: "/listarSeguimiento",
            success: function (response) {
                $("#TablaSeguimientoEstudiantes").html(response);
            }
        });
    }

    function DatosFormulario(idEstudiante) {
        $.ajax({
            url: '/datosEstudianteSeguimiento/' + idEstudiante,
            method: 'GET',
            success: function (response) {
                $("#estudinateSeguimiento").html(response);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    

    function informePsicopedagogico(idEstudiante) {
        console.log("Cargando PDF para el estudiante ID: " + idEstudiante); 
        var urlPdf = '/psicopedagogico/pdf/' + idEstudiante;
        console.log("URL del PDF: " + urlPdf);
        Swal.fire({ 
            title: "RECIBO - INSCRIPCIÓN PROYECTO ORIENTACIÓN ORIENTACIÓN",
            html: `
                <iframe width="100%" height="700" src="` + urlPdf + `" frameborder="0" allowfullscreen></iframe>
                <br>
                <a href="` + urlPdf + `" download="Recibo.pdf" class="btn btn-success" style="margin-top: 15px;">
                    Descargar PDF
                </a>
            `,
            width: '80%',
            showCloseButton: true,
            showConfirmButton: false,
            allowOutsideClick: false
        });
    }

</script>

<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/js/apex-chart/apex.radial.init2.js"></script>