<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
    <head th:replace="~{layout/head :: head}" ></head>
    <body>
        <div th:replace="~{layout/preloader :: preloader}"></div>
        <div id="main-wrapper">
            <aside th:fragment="sidebar" class="left-sidebar with-vertical">
                <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                    <ul id="sidebarnav" class="px-2">
                        <li class="sidebar-item pt-3 pb-2 sidebar-profile">
                            <a class="sidebar-link has-arrow opacity-100 gap-2" type="button" aria-expanded="false">
                                <span class="d-flex">
                                    <img src="../assets/images/profile/user-1.jpg" class="rounded-3" width="30" alt="user" />
                                </span>
                                <span class="hide-menu">Administrador</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="javascript:void(0)" class="sidebar-link">
                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        </div>
                                        <span class="hide-menu">Mi Perfil</span>
                                    </a>
                                    <a id="opcionesAdminRol" type="button" class="sidebar-link">
                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        </div>
                                        <span class="hide-menu">Administrar Roles</span>
                                    </a>
                                    <a id="opcionesAdminUsuario" type="button" class="sidebar-link">
                                        <div class="round-16 d-flex align-items-center justify-content-center">
                                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        </div>
                                        <span class="hide-menu">Administración de Usuarios</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
            
                        <li class="nav-small-cap">
                            <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">INICIO</span>
                        </li>
            
                        <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                            <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                                <span class="d-flex">
                                    <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                                </span>
                                <span class="hide-menu">Administracion</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a id="opcionesAdminPersona" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Administarción Persona</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                            <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                                <span class="d-flex">
                                    <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                                </span>
                                <span class="hide-menu">Componentes</span>
                            </a>
            
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a id="opcionesAdminColegio" type="button"  class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Administarción Colegios</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a id="opcionesAdminGenero" type="button" href="/administrar-sexo" class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Administarción Genero</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a id="opcionesAdminNacionalidad" type="button" href="administrar-nacionalidad" class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Administarción Nacionalidad</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-small-cap" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                            <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">ESTUDIANTES</span>
                        </li>

                        <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                            <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                                <span class="d-flex">
                                    <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                                </span>
                                <span class="hide-menu">Gestion Estudiante</span>
                            </a>
            
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a id="opcionesRegistroEstudiante" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Registro Estudiante</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a id="opcionesAdminEstudiante" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Administarción Estudiantes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-small-cap" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'DOCENTE'}">
                            <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">SEGUIMIENTOS ESTUDIANTIL</span>
                        </li>

                        <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'DOCENTE'}">
                            <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                                <span class="d-flex">
                                    <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                                </span>
                                <span class="hide-menu">Seguimiento</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <!-- <li class="sidebar-item">
                                    <a id="opcionesEstudiantesInscritos" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Estudiantes inscritos</span>
                                    </a>
                                </li> -->
                                <li class="sidebar-item">
                                    <a id="opcionesAvanceEstudiantes" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Avance de Estudiantes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
            
                        <li class="nav-small-cap">
                            <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">CONFIG TEST</span>
                        </li>
            
                        <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <span class="d-flex">
                                    <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                                </span>
                                <span class="hide-menu">Pregunta</span>
                            </a>
            
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a id="opcionesPregunta" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:basketball-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Preguntas</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a id="opcionesTipoPregunta" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:basketball-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Tipo pregunta</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <span class="d-flex">
                                    <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                                </span>
                                <span class="hide-menu">Tipo Test</span>
                            </a>
            
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a id="opcionesTipoTest" type="button" class="sidebar-link">
                                        <iconify-icon icon="solar:basketball-line-duotone"></iconify-icon>
                                        <span class="hide-menu">Tests</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="page-wrapper">
                <header th:replace="~{layout/topbar :: topbar}"></header>
                <div class="body-wrapper">
                    <div class="container-fluid mw-100">
                        <div th:replace="~{layout/card-modulo :: cardFragment('Bienvenido al Sistema de Orientación Vocacional!', 'Inicio', '/vista-administrador', 'Inicio')}">
                        </div>
                        <div id="main-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="../assets/js/vendor.min.js"></script>
        <!-- Import Js Files -->
        <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>
        <script src="../assets/js/theme/app.dark.init.js"></script>
        <script src="../assets/js/theme/theme.js"></script>
        <script src="../assets/js/theme/app.min.js"></script>
        <script src="../assets/js/theme/sidebarmenu.js"></script>
        <script src="../assets/js/theme/feather.min.js"></script>

        <!-- solar icons -->
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
        <script src="../assets/libs/nestable/jquery.nestable.js"></script>
        <script src="../assets/js/plugins/nestable-init.js"></script>

        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

        <script src="../assets/js/datatable/datatable-advanced.init.js"></script>

        <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

        <script src="../assets/js/sweetalert2.all.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script>
            var botonPulsado;
            $(document).ready(function () {
                
                $("#opcionesAdminRol").click(function (e){
                    e.preventDefault();
                    cargarContenido("/vista-rol");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAdminRol");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesAdminUsuario").click(function (e){
                    e.preventDefault();
                    cargarContenido("/administrar-usuario");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAdminUsuario");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesAdminPersona").click(function (e){
                    e.preventDefault();
                    cargarContenido("/vista-persona");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAdminPersona");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesRegistroEstudiante").click(function (e){
                    e.preventDefault();
                    cargarContenido("/vista-estudiantes");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesRegistroEstudiante");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesAdminEstudiante").click(function (e){
                    e.preventDefault();
                    cargarContenido("/administracion_estudiante");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAdminEstudiante");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesAdminColegio").click(function (e){
                    e.preventDefault();
                    cargarContenido("/administrar-colegio");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAdminColegio");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesAdminGenero").click(function (e){
                    e.preventDefault();
                    cargarContenido("/administrar-sexo");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAdminGenero");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesAdminNacionalidad").click(function (e){
                    e.preventDefault();
                    cargarContenido("/administrar-nacionalidad");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAdminNacionalidad");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesEstudiantesInscritos").click(function (e){
                    e.preventDefault();
                    cargarContenido("");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesEstudiantesInscritos");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesAvanceEstudiantes").click(function (e){
                    e.preventDefault();
                    cargarContenido("/vista_psicopedagoga");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesAvanceEstudiantes");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesPregunta").click(function (e){
                    e.preventDefault();
                    cargarContenido("/adm_vista_pregunta");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesPregunta");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesTipoPregunta").click(function (e){
                    e.preventDefault();
                    cargarContenido("/adm_vista_tipo_pregunta");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesTipoPregunta");
                    botonPulsado.classList.add("active");
                });

                $("#opcionesTipoTest").click(function (e){
                    e.preventDefault();
                    cargarContenido("/adm_vista_tipo_test");
                    if (botonPulsado.classList.contains("active")){
                        botonPulsado.classList.remove("active");
                    }
                    botonPulsado = document.getElementById("opcionesTipoTest");
                    botonPulsado.classList.add("active");
                });

                function cargarContenido(url) {

                    $("#main-content").html(`
                                    <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            </div>
                    `);
                    const miDiv = document.getElementById("main-content");
                    miDiv.removeAttribute("style");
                    $.ajax({
                        url: url,
                        method: "GET",
                        success: function (data) {
                            $("#main-content").html(data);
                            miDiv.setAttribute("style", "opacity: 1; width: 100%; transition: all 0.5s ease-out;"
                            );
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log("Error al cargar contenido: " + textStatus + " " + errorThrown);
                            Swal.fire("Error", "No se pudo cargar el contenido.", "error");
                        }
                    });
                }
            });
        </script>
    </body>
</html>