<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

<head th:replace="~{layout_test/head :: head}"></head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <img src="../assets/images/logos/logo-icon.svg" alt="loader" class="lds-ripple img-fluid" />
    </div>
    <div id="main-wrapper">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100">
            <div class="position-relative z-index-5 min-vh-100">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-xxl-8">
                        <a href="../main/index.html" class="text-nowrap logo-img d-block px-4 py-9 w-100">
                            <b class="logo-icon">
                                <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                                <!-- Dark Logo icon -->
                                <img src="../assets/images/logos/logo-icon.svg" alt="homepage" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img src="../assets/images/logos/logo-text.svg" alt="homepage" class="dark-logo ps-2" />
                            </span>
                        </a>
                        <div class="d-none d-xl-flex align-items-center justify-content-center h-n80">
                            <img src="../assets/images/backgrounds/login-security.svg" alt="" class="img-fluid"
                                width="500" />
                        </div>
                        <div class="obj-left d-none d-md-block">
                            <img src="../assets/images/backgrounds/leaf-left.png" alt="img" />
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-4 col-md-8 mt-5 mt-lg-0 bg-lg-white">
                        <div
                            class="authentication-login auth-card-login min-vh-100 min-height-auto bg-white row justify-content-center align-items-center p-4 mx-3 mx-lg-auto mt-5 mt-sm-0">
                            <div class="z-index-5">
                                <h2 class="mb-1 fs-7 fw-bolder">Welcome to Adminpro</h2>
                                <p class="mb-4">Your Admin Dashboard</p>
                                <div class="row">
                                    <div class="col-6 mb-2 mb-sm-0">
                                        <a class="btn btn-link border border-muted fw-bold d-flex align-items-center justify-content-center rounded-2 py-8 text-decoration-none"
                                            href="javascript:void(0)" role="button">
                                            <img src="../assets/images/svgs/google-icon.svg" alt=""
                                                class="img-fluid me-2" width="18" height="18" />
                                            Google
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-link border border-muted fw-bold d-flex align-items-center justify-content-center rounded-2 py-8 text-decoration-none"
                                            href="javascript:void(0)" role="button">
                                            <img src="../assets/images/svgs/facebook-icon.svg" alt=""
                                                class="img-fluid me-2" width="18" height="18" />
                                            Facebook
                                        </a>
                                    </div>
                                </div>
                                <div class="position-relative text-center my-4">
                                    <p
                                        class="mb-0 fs-4 px-3 d-inline-block bg-white text-dark z-index-5 position-relative">
                                        or sign in with
                                    </p>
                                    <span
                                        class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                </div>
                                <form action="/iniciar-sesion" method="POST" id="iniciar">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Username</label>
                                        <input type="text" name="usuario" class="form-control"/>
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" name="contrasena" class="form-control" />
                                    </div>
                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input primary" type="checkbox" value=""
                                                id="flexCheckChecked" checked />
                                            <label class="form-check-label text-dark" for="flexCheckChecked">
                                                Remeber this Device
                                            </label>
                                        </div>
                                        <a class="text-primary fw-medium"
                                            href="../main/authentication-forgot-password.html">Forgot
                                            Password ?</a>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 py-8 mb-4 rounded-2"> INCIAR SESION </button>
                                    
                                    <div class="d-sm-flex align-items-center justify-content-center">
                                        <p class="fs-4 mb-0 fw-medium">New to Adminpro?</p>
                                        <a class="text-primary fw-medium"
                                            href="../main/authentication-register.html">Create an
                                            account</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="obj-right d-none d-md-block">
                            <img src="../assets/images/backgrounds/leaf-right.png" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-transparent sidebartoggler"></div>

    <style>
        /* Personalizar el título */
        .swal-title {
            font-size: 24px; /* Cambia el tamaño del título */
            font-weight: bold; /* Opcional: Hazlo más grueso */
        }

        /* Personalizar el texto del contenido */
        .swal-text {
            font-size: 18px; /* Cambia el tamaño del texto */
        }

        .swal-button {
            font-size: 18px;
            padding: 10px 20px;
        }

    </style>
    <script>
        $(document).ready(function () {
            $('#iniciar').submit(function (event) {
                event.preventDefault();
                var form = document.getElementById("iniciar");
                var action = form.action;
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (response) {
                        var mensaje = response;
                        if(mensaje === 'Este usuario no esta habilitado'){
                            Swal.fire({
                                title: "Aviso!",
                                text: mensaje,
                                icon: "warning",
                                customClass: {
                                    title: 'swal-title',
                                    content: 'swal-text'
                                },
                                
                            });
                        }else if(mensaje === 'login estudiante'){
                            window.location.href = "/tests";
                        }else if(mensaje === 'login administrador'){
                            window.location.href = "/admin/vista-administrador";
                        }else if(mensaje === 'no existe el usuario'){
                            Swal.fire({
                                title: "Aviso!",
                                text: mensaje,
                                icon: "warning",
                                customClass: {
                                    title: 'swal-title',
                                    content: 'swal-text'
                                }
                            });
                        }
                    },
                    error: (xhr, status, error) => {
                        console.error("Error: ", status, error);
                        toastr.error('Ha ocurrido un error. Por favor, intenta nuevamente.');
                    }
                });
            });
        });

    </script>
    <div th:replace="~{layout_test/script :: script}"></div>
</body>

</html>